.nwcompat-achievement-area {
    z-index: 9999;
    user-select: none;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
}

.nwcomapt-achievement {
    width: 283px;
    height: 70px;
    animation: 5s linear 0s 1 slideInFromBottom;
    background: linear-gradient(#23262e, #0e141b);
}

.nwcompat-achievement-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.nwcompat-achievement-text > div {
    font-size: 12px;
    font-family: Helvetica;
}

.nwcompat-achievement-name {
    color: #ededee;
}

.nwcompat-achievement-desc {
    color: #646b72;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    5% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

.nwcompat-achievement-icon {
    width: 44px;
    height: 44px;
    float: left;
    margin: 13px 16px 13px 10px;
    background-size: cover;
}
